/* Reset CSS  */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
a{text-decoration:none;}
.txt-center{text-align:center;}
.clear{clear:both;}
.pull-right{float:right;}
img{max-width:100%;}


body{
padding:0;
margin:0;
background:#4282C0;
font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	
}	
p{
	margin:0;

}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}	
/*-- main --*/
.content{
	padding:50px 0 0;
}
.content h2{
    color: #fff;
    font-size: 34px;
    text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
 font-family: 'Roboto', sans-serif;
}
.main{
	width:50%;
	margin:50px auto 0;


}

.form-main{
	background:#fff;
	padding:30px;
	margin-bottom:50px;
	width:100%;
	box-sizing: border-box;
	float: left;
}

.form-main .half-width{
	width:49%;
	float: left;
}

.form-main .right-gap{
 margin-left: 10px;
}


.full-width{
	width:100%;
	float: left;
	
}

.full-width ul{
	padding: 0;
	margin: 0 0 20px 0;
}

.full-width ul li{
	display: block; list-style: none; margin-bottom: 16px;
}

.full-width ul li label input{
	float: left;
	margin: 0 6px 0 0;
}

.full-width ul li label{
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
}

.main form input[type="text"], .main form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    /* border: 1px solid #e6e6e6; */
    outline: none;
    color: #D8D5D5;
	/* margin-bottom: 30px; */
	box-sizing: border-box;

}

.main form input[type="text"]:hover, .main form input[type="password"]:hover{
  border:none;
  outline: none;
}
.main label {
	color: #5f5a56;
    margin-bottom: 8px;
	font-size:16px;
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
	display: block;
}
.main label span{
	font-size:15px;	
	color:#ccc;
}
.main form input[type="text"]:hover,  .main textarea:hover{
	/* border: 1px solid #4282C0; */
	color:#000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

 .main textarea {
    width: 100%;
    padding: 10px 10px 0 10px;
    font-size: 14px;
    /* border: 1px solid #e6e6e6; */
    outline: none;
    color: #D8D5D5;
	outline:none;
	resize:none;
    height: 34px;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.btn{
	  background: #ff7700;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 20px;
    border: none;
    border-bottom:4px solid #CA6106;
    font-size: 16px;
    outline: none;
    width: auto;
    cursor: pointer;
    margin-bottom: 30px;
	  text-transform:capitalize;
   	margin-left: 18px;
}

.btn:hover{
	background: #000;
    border-bottom:4px solid #403E3E;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;	
}



ul.smily-nav{ padding:0; margin: 0 0 16px 0; float: left; width:100%; }
ul.smily-nav li{ display: inline-block; list-style: none; margin-right:5px; text-align: left;}
ul.smily-nav li a label{ margin:10px 0 0 12px; font-size: 16px;}

.three-col{ width:33%; float:left;}
ol.radio-list{ display: block; margin:2px 0 -30px 1px;}
ol.radio-list li{ display: inline-block !important; list-style: none; margin-right: 3px;}
.stars{ float:left; width:100%;}


.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  /* width: 250px; remove this */
  height: 32px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* width: 20%; remove this */
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  /* width: 20%; remove this */
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
	position: relative;
	cursor: pointer;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.star-rating.star-5 {width: 160px; margin: -10px 0 0 10px;}
.star-rating.star-5 input,
.star-rating.star-5 i {width: 20%;}
.star-rating.star-5 i ~ i {width: 40%;}
.star-rating.star-5 i ~ i ~ i {width: 60%;}
.star-rating.star-5 i ~ i ~ i ~ i {width: 80%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i {width: 100%;}

.star-rating.star-3 {width: 150px;}
.star-rating.star-3 input,
.star-rating.star-3 i {width: 33.33%;}
.star-rating.star-3 i ~ i {width: 66.66%;}
.star-rating.star-3 i ~ i ~ i {width: 100%;}


.change-lang{
  width: 100%;
  float: left;
  margin-bottom: 10px;
  text-align:right;
}

.change-lang p, .change-lang a{ display: inline-block; color:#fff;}
.change-lang a{ margin-left: 10px;background: #00478c;
  border-bottom: 4px solid #6aaae8; padding: 10px 15px; color:#fff;}
  .change-lang a:hover{
    background: #6aaae8;
    border-bottom: 4px solid #00478c; 
    }

  .MuiFormControl-root-1{
    width:98% !important;
    margin-bottom: 20px !important;
  }

  .MuiInput-underline-21:before, ::after{
    background-color:  #6aaae8 !important;
  }
  .MuiInput-underline-21:hover:not(.MuiInput-disabled-20):before{
    background-color:  #000000 !important;
  }
 
  .comment-right > .MuiFormControl-root-1 {
    margin-top: 0 !important;
  }

  .comment-right ~ label + .MuiInput-formControl-18{

    margin-bottom: 20px;
  }

  .comment-right{
    margin-top: -30px;
  }

  .MuiInput-multiline-23{
    padding: 0 !important;
  }

  .bottom-gap{
    margin-bottom:20px;
  }

  /* .comment-right label + .MuiInput-formControl-18{
    margin: 0 !important; 
  } */

  .MuiInput-focused-19:before, ::after ,.MuiInput-error-22:before, ::after{
    background-color:#ff0000 !important;
  }
  .MuiInput-focused-19:before, ::after{
    background-color:  #6aaae8 !important;
  }

  
@media (max-width:1070px){
	.main{width:80%;}
}


  @media (max-width:767px){
	.three-col{ width:100%;}
	.main{width:90%;}
	.full-width ul, .form-main .half-width{width:100%;}
	.form-main{ padding:20px;}
	.main textarea{ margin:10px 0 0 0;}

  }

  @media (max-width:515px){
	ul.smily-nav li a img{ width:70px;}
  }

  @media (max-width:420px){
	ul.smily-nav li{ margin-right: 1px;}
  }

.error{
	border: 1px solid red !important;
}

.Smoothie
{
  height: 100px;
  border: 1 px solid red;
}